@import "https://flameui.netlify.app/components.css";

.dark-theme .box-shadow {
  box-shadow: var(--dark-theme-box-shadow);
}

.parent-of-sidebar-product-container .sidebar-products-container {
  display: flex;
  margin-bottom: 2rem;
}

.parent-of-sidebar-product-container
  .sidebar-products-container
  .sidebar-container {
  min-width: 30rem;
  padding: 0 3rem;
  border-right: 1px solid var(--button-floatHover-color);
  width: 20%;
  margin-left: 1rem;
  margin-right: 3.5rem;
}

.parent-of-sidebar-product-container
  .sidebar-products-container
  .product-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 5;
  padding: 0 2rem 0 3rem;
  height: auto;
  gap: 5rem;
}

.sidebar-container .filter-heading {
  text-align: left;
  font-size: 3.5rem;
  border-bottom: 1px solid var(--button-floatHover-color);
  margin-bottom: 2rem;
}

.sidebar-container .sidebar-cmp-heading {
  text-align: left;
  border-bottom: 1px solid var(--text-gray-color);
  color: var(--text-gray-color);
}

.sidebar-container .ul li:hover {
  transform: scale(1);
  cursor: pointer;
}

.radio-input,
.checkbox-input {
  justify-content: flex-start;
}

.filter-reset-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.slider-container {
  min-width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.slider {
  cursor: pointer;
  -webkit-appearance: none;
  min-width: 90%;
  height: 0.7rem;
  background-color: var(--text-gray-color);
  border-radius: 11px;
  width: 20%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--button-floatHover-color);
  background-color: #eaece5;
}

.checkbox-input input:hover,
.checkbox-input label:hover,
.parent-of-sidebar-product-container .star-symbol input,
.parent-of-sidebar-product-container .star-symbol label,
.sort-by input,
.sort-by label {
  cursor: pointer;
}
